Repository kkrypt0nn/aegisbot, changes with the labels that .github/labeler.yml gives for each.
All labels: area/meta, area/docs, area/github, area/community-rules, area/bot, area/docker, area/dependencies, area/k8s

ci: Build needs lint & test
  .github/workflows/ci.yml
Labels: area/github

chore: Go mod tidy
  go.sum
Labels: area/dependencies

chore(renovate): Group all non major
  renovate.json
Labels: none

feat: Structure changes and add templates
  .github/workflows/ci.yml
  .github/workflows/deploy_website.yml
  .github/workflows/label_sync.yml
  Makefile
  README.md
  actions/actions.go
  cmd/aegisbot/bot.go
  cmd/aegisbot/handlers.go
  cmd/aegisbot/main.go
  go.mod
  go.sum
  handlers.go
  internal/actions/actions.go
  internal/buildinfo/buildinfo.go
  internal/event/event.go
  internal/log/logger.go
  internal/rules/cel.go
  internal/rules/rules.go
  internal/template/template.go
  rules/cel.go
  rules/rule_test.go
Labels: area/docs, area/github, area/bot, area/dependencies

feat: Rework the action YAML
  README.md
  _rules/phishing.yaml
  cmd/aegisbot/bot.go
  cmd/aegisbot/main.go
  internal/actions/actions.go
  internal/rules/rules.go
Labels: area/docs

feat: Add a basic `get` command
  README.md
  _rules/crypto_scam_pictures.yaml
  _rules/phishing.yaml
  cmd/aegisbot/bot.go
  cmd/aegisbot/handlers.go
  cmd/aegisbot/main.go
  internal/commands/cmdtypes/cmdtypes.go
  internal/commands/commands.go
  internal/commands/general/ping.go
  internal/commands/rules/get.go
  internal/rules/rules.go
Labels: area/docs

fix(deps): update disgo
  cmd/aegisbot/bot.go
  cmd/aegisbot/main.go
  go.mod
  go.sum
  internal/actions/actions.go
  internal/commands/general/ping.go
  internal/commands/rules/get.go
Labels: area/dependencies

build: update base image to Trixie
  .github/renovate.json
  Dockerfile
Labels: area/github, area/docker

feat: add new cel structure and overloads/libs
  Makefile
  _rules/new_accounts.yaml
  buf.yaml
  cmd/aegisbot/handlers.go
  cmd/aegisbot/main.go
  internal/cel/libs/time/time.go
  internal/cel/overloads/member.go
  internal/cel/overloads/message.go
  internal/event/event.go
  internal/rules/cel.go
  internal/rules/rules.go
  proto/channel.pb.go
  proto/channel.proto
  proto/member.pb.go
  proto/member.proto
  proto/message.pb.go
  proto/message.proto
Labels: none

fix: use `NewEmbed` instead of builder
  internal/commands/rules/get.go
Labels: none

fix: changes for tangra v2
  cmd/aegisbot/bot.go
  cmd/aegisbot/main.go
  go.mod
  go.sum
  internal/actions/actions.go
  internal/commands/general/ping.go
  internal/commands/rules/get.go
  internal/log/logger.go
  internal/template/template.go
Labels: area/dependencies

fix(deps): pin fsnotify to v1.9.0 for now
  .github/renovate.json
  go.mod
  go.sum
Labels: area/github, area/dependencies

ci: renovate min release age
  .github/renovate.json
Labels: area/github

fix: action vs event type
  _rules/new_accounts.yaml
  cmd/aegisbot/bot.go
  internal/actions/actions.go
  internal/rules/rules.go
Labels: none

ci: use yaml instead of yml
  .github/FUNDING.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/label_sync.yaml
  .github/workflows/labeler.yaml
  README.md
Labels: area/docs, area/github

docs: separate todo types
  README.md
Labels: area/docs

feat: allow disabling rules
  _rules/new_accounts.yaml
  internal/rules/rules.go
Labels: none

ci: use centralized actions repo
  .github/workflows/ci.yaml
  .github/workflows/label_sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github

ci: deploy website centralized workflow
  .github/workflows/deploy_website.yaml
Labels: area/github

ci: bump centralized repo
  .github/workflows/ci.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/label_sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github

fix: commit package-lock
  website/.gitignore
  website/package-lock.json
Labels: none

feat: add support for multiple actions
  _rules/crypto_scam_pictures.yaml
  _rules/new_accounts.yaml
  cmd/aegisbot/bot.go
  internal/commands/rules/get.go
  internal/rules/rules.go
Labels: none

feat: prepare for v0.1.0
  .dockerignore
  .github/workflows/release.yaml
  .goreleaser.yaml
  Dockerfile
  README.md
  _rules/new_accounts.yaml
  cmd/aegisbot/bot.go
  cmd/aegisbot/handlers.go
  cmd/aegisbot/main.go
  go.mod
  go.sum
  internal/actions/actions.go
  internal/buildinfo/buildinfo.go
  internal/event/event.go
  internal/rules/rules.go
  internal/template/template.go
  proto/attachment.pb.go
  proto/attachment.proto
  proto/channel.pb.go
  proto/member.pb.go
  proto/member.proto
  proto/message.pb.go
  proto/message.proto
  website/README.md
  website/docs/README.md
  website/docs/rules/actions.md
  website/docs/rules/events.md
  website/docs/rules/examples.md
  website/docs/rules/expression.md
  website/docs/rules/templating.md
  website/docs/run/docker.md
  website/docs/run/from-source.md
  website/sidebars.js
  website/src/pages/index.tsx
Labels: area/docs, area/github, area/docker, area/dependencies

fix: website broken links
  website/docs/rules/actions.md
Labels: none

docs: make objects their own page
  website/docs/objects/attachment.md
  website/docs/objects/channel.md
  website/docs/objects/member.md
  website/docs/objects/message.md
  website/docs/rules/expression.md
  website/docs/rules/templating.md
  website/sidebars.js
Labels: none

chore: npm audit fix
  website/package-lock.json
Labels: none

chore: remove xyflow dependency
  website/package-lock.json
  website/package.json
Labels: none

build: migrate to `cel.dev/cel-go`
  go.mod
  go.sum
  internal/cel/libs/time/time.go
  internal/cel/overloads/member.go
  internal/cel/overloads/message.go
  internal/rules/rules.go
Labels: area/dependencies

.github/labeler.yml:

# Project specific auto-labeler

area/meta:
  - changed-files:
      - any-glob-to-any-file:
          - CODE_OF_CONDUCT.md
          - CONTRIBUTING.md
          - LICENSE.md

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - README.md

area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*

area/community-rules:
  - changed-files:
      - any-glob-to-any-file:
          - community_rules/**/*

area/bot:
  - changed-files:
      - any-glob-to-any-file:
          - actions/**/*
          - rules/**/*
          - main.go

area/docker:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - docker-compose.yml

area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum

area/k8s:
  - changed-files:
      - any-glob-to-any-file:
          - k8s/**/*
